@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }

body {
    margin: 0 auto;
    width: 70%;
}

/***** Header ******/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: #fff;
}
header::after {
    content: "";
    display: block;
    height: 30px;
    line-height: 30px;
    background: #fff;
}

.top {
    width: 100%;
    height: 80px;
    margin-top: 0px;
}
div.top::before {
    content: "";
    display: block;
    height: 5px;
    line-height: 5px;
    background: #fff;
}

div.logo {
    display: inline-block;
    height: inherit;
    margin-left: 2px;
}
div.logo img {
    height: 80px;
}

div.caption {
    display: inline-block;
    height: inherit;
    vertical-align: top;
    margin-left: 10px;
    font-family: Montserrat;
}
@media only screen and (max-width: 1620px) {
    div.caption {
        visibility: hidden;
    }
}

/***** Menu *****/
.control {
    margin-top: -15px;
}
div.security {
    margin-top: 0px;
    text-align: right;
}
div.security a {
    text-decoration: none;
    color: darkblue;
}
div.security a:hover {
    color: darkorange;
}

div.menu {  }
@media only screen and (max-width: 1620px) {
    div.menu {
        display: none;
    }
}
div.menu ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 10px; /*убираем отступы*/
    margin-top: 5px; /*делаем отступ сверху*/
    background: forestgreen; /*добавляем фон всему меню*/
    height: 50px; /*задаем высоту*/
    border-width: 0px 0;
    border-style: solid none;
    border-radius: 6px;
    border-color: transparent;
}
div.menu a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: forestgreen; /*добавляем фон к пункту меню*/
    color: #fff; /*меняем цвет ссылок*/
    padding: 0px 15px; /*добавляем отступ*/
    font-family: Ubuntu;
    font-weight: 400;
    line-height: 50px; /*ровняем меню по вертикали*/
    display: block;
    border-right: 1px solid #677B27; /*добавляем бордюр справа*/
    transition: all 0.5s 0.01s ease;
    -moz-transition: all 0.5s 0.01s ease;
    -o-transition: all 0.5s 0.01s ease;
    -webkit-transition: all 0.5s 0.01s ease;
}
div.menu a:hover {
    background: darkorange; /*добавляем эффект при наведении*/
}
div.menu li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
    position: relative; /*задаем позицию для позиционирования*/
}
/*Стили для скрытого выпадающего меню*/
div.menu li > ul {
    position: absolute;
    top: 45px;
    display: none;
    border-radius: 0px;
    padding-left: 0px;
}
/*Делаем скрытую часть видимой*/
div.menu li:hover > ul {
    display: block;
    width: 250px;  /*Задаем ширину выпадающего меню*/
}
div.menu li:hover > ul > li {
    float: none; /*Убираем горизонтальное позиционирование*/
}

/***** Content *****/
.content {


}

