@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }

/***** Body ******/
body {
    margin: 0 auto;
    width: 70%;
}
@media only screen and (max-width: 1620px) {
    body {
        width: 100%;
    }
}

/***** Header ******/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: #fff;
}
header::after {
    content: "";
    display: block;
    height: 30px;
    line-height: 30px;
    background: #fff;
}
/*
@media only screen and (max-width: 1620px) {
    header::after {
        height: 50px;
        line-height: 50px;
    }
}
*/
.top {
    width: 100%;
    height: 90px;
    margin-top: 0px;
}
div.top::before {
    content: "";
    display: block;
    height: 5px;
    line-height: 5px;
    background: #fff;
}

/**** Logo *****/
div.logo {
    display: inline-block;
    height: inherit;
    margin-left: 2px;
}
@media only screen and (max-width: 1620px) {
    div.logo {
        margin-left: 2%;
        margin-top: 3px;
    }
}
div.logo img {
    height: 80px;
}

/**** Captions *****/
div.caption {
    display: inline-block;
    height: inherit;
    vertical-align: top;
    margin-left: 10px;
    font-family: Montserrat;
}
div.caption p {
    margin-bottom: -0.8em;
}
@media only screen and (max-width: 1520px) {
    div.caption {
        margin-top: 5px;
        width: 67%;
        font-size: 14px;
    }
}
@media only screen and (max-width: 1200px) {
    div.caption {
        margin-top: 5px;
        width: 67%;
        font-size: 12px;
    }
}
@media only screen and (max-width: 900px) {
    div.caption {
        margin-top: 8px;
        width: 65%;
        font-size: 10px;
    }
}

/***** Menu *****/
.control {
    margin-top: -15px;
}
div.security {
    margin-top: 0px;
    margin-right: 10px;
    text-align: right;
    font-family: Ubuntu;
    font-size: 15px;
}
@media only screen and (max-width: 1620px) {
    div.security {
        display: none;
    }
}
div.security a {
    text-decoration: none;
    color: darkblue;
}
div.security a:hover {
    color: darkorange;
}

div.menu {  }
div.menu ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    margin-top: 5px;
    background: forestgreen;
    height: 50px;
    border-width: 0px 0;
    border-style: solid none;
    border-radius: 6px;
    border-color: transparent;
}
div.menu a {
    text-decoration: none;
    background: forestgreen;
    color: #fff;
    padding: 0px 15px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: 50px;
    display: block;
    border-right: 1px solid #677B27;
    transition: all 0.5s 0.01s ease;
    -moz-transition: all 0.5s 0.01s ease;
    -o-transition: all 0.5s 0.01s ease;
    -webkit-transition: all 0.5s 0.01s ease;
}
div.menu a.selected {
    background: #677B27;
}
div.menu a:hover {
    background: darkorange;
}
div.menu li {
    float: left;
    position: relative;
}
div.menu li > ul {
    position: absolute;
    top: 45px;
    display: none;
    border-radius: 0px;
    padding-left: 0px;
}
div.menu li:hover > ul {
    display: block;
    width: 250px;
}
div.menu li:hover > ul > li {
    float: none;
}

@media only screen and (max-width: 1620px) {
    div.menu {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0px;
        top: 0px;
        text-align: right;
        vertical-align: middle;
    }
    div.menu::before {
        content: "\2261";
        color: darkblue;
        font-size: 48px;
        cursor: pointer;
        margin-right: 8%;
        background: white;
        line-height: 80px;
    }
    div.menu ul {
        display: none;
        position: absolute;
        left: 0px;
        top: 0px;
        padding-left: 0px;
        margin-top: 0px;
        border-radius: 0px;
        width: 100%;
        height: 800px;
    }
    div.menu a {
        display: block;
        border-bottom: 1px solid #677B27;
        text-align: center;
        font-weight: 600;
        line-height: 100px;
        width: 100%;
    }
    div.menu li {
        display: block;
        position: relative;
        width: 100%;
    }
    div.menu li > ul {
        display: none;
    }
    div.menu li:hover > ul {
        display: none;
    }
    div.menu li:hover > ul > li {
        display: none;
    }
}

/***** Content *****/
.content {
    padding: 0 3% 0 2%;
    text-align: left;
}

div.block {
    margin-bottom: 30px;
}

.field_caption {
    width: 100%;
    text-align: left;
    padding-top: 8px;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: x-large;
    line-height: 30px;
    width: 100%;
    display: inline-block;
    color: darkblue;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: medium;
    line-height: 30px;
    width: 100%;
    display: inline-block;
    color: darkblue;
}

.field_desc {
    margin-top: 6px;
    width: 100%;
    text-align: justify;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
}

.field_image {
    margin-top: 12px;
    width: 80%;
    text-align: center;
}
.field_image img {
    width: 80%;
}

.field_when {
    padding: 30px 0px 0px 10px;
    font-family: Montserrat;
}

.field_where {
    padding: 20px 0px 6px 10px;
    font-family: Montserrat;
}

.field_file {
    margin-top: 10px;
    text-align: left;
    font-family: Montserrat;
    font-size: small;
    margin-bottom: 30px;
}

.field_filetype {
    display: inline-block;
    margin: 15px 30px 5px 30px;
    font-family: Ubuntu;
    font-size: small;
}
.file_download {
    display: inline-block;
    margin-left: 30px;
}

/***** rwp-ras styles *****/

.sep-8 { width: 100%; height: 8px; }
.fullw { width: 100%; }
.tj { text-align: justify; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }
.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }
.border-0 { border: 0px; }
.montserrat { font-family: Montserrat; }
