<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Лаборатория 325 - ИРЭ им. В.А. Котельникова РАН</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet" type="text/css">
{% load static %}
<link href='{% static "css/main.css" %}' rel="stylesheet" type="text/css">
<link href='{% static "css/btn.css" %}' rel="stylesheet" type="text/css">
<link rel="shortcut icon" href='{% static "img/favicon.ico" %}' type="image/x-icon">
</head>

<body>
	<header>
	<div class="top">
		<div class="logo">
		    <a href="{% url 'index' %}"><img src='{% static "img/logo.png" %}' /></a>
		</div>

		<div class="caption">
			<p style="font-weight: 400;">Институт радиотехники и электроники им. В.А. Котельникова РАН</p>
			<p style="font-weight: 600;">Лаборатория радиофизических методов в аэрокосмических исследованиях
				природно-техногенной среды</p>
		</div>
	</div>

	<div class="control">
		<div class="security">
			{% if user.is_authenticated %}
				Вы вошли как {{ username }}&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="admin">Панель администратора</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="{% url 'settings' %}">Профиль</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="{% url 'logout' %}">Выход</a>
			{% else %}
				<a href="admin">Панель администратора</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="{% url 'register' %}">Регистрация</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="{% url 'login' %}">Вход</a>
			{% endif %}
		</div>

		<div class="menu" onclick="menuClick();">
			<ul id="menu_content">
				<li><a href="{% url 'index' %}" class="selected">&nbsp;&nbsp;Главная&nbsp;</a>
					<ul>
						<li><a href="#">Анонсы конференций</a></li>
						<li><a href="#">Анонсы семинаров</a></li>
						<li><a href="#">Прошедшие семинары</a></li>
					</ul>
				</li>
				<li><a href="#">Исследования</a>
					<ul>
						<li><a href="#">Участие в грантах</a></li>
						<li><a href="#">Достижения лаборатории</a></li>
					</ul>
				</li>
				<li><a href="#">Публикации</a></li>
				<li><a href="#">Состав лаборатории</a></li>
				<li><a href="#">Вычислительный центр</a></li>
				<li><a href="#">Полезные ссылки</a></li>
				<li><a href="#">Почтовый сервер</a></li>
			</ul>
		</div>
	</div>
	</header>

	<div class="content">
		<h1>Новости</h1>
		{% include "subtemplates/news.html" %}
		<br/>
		<h1>Анонсы конференций</h1>
		{% include "subtemplates/conference_announcements.html" %}
		<br/>
		<h1>Предстоящие семинары</h1>
		{% include "subtemplates/seminar_announcements.html" %}
		<br/>
		<h1>Состоявшиеся семинары</h1>
		{% include "subtemplates/seminars.html" %}
	</div>

<script>
    var ul = document.getElementById('menu_content');

	function menuClick() {
	    ul.style.display = 'block';
	    if (window.innerWidth <= 1620) ul.style.height = window.innerHeight + 'px';
	}

	window.addEventListener('resize', function (){
	    if (window.innerWidth > 1620) ul.style.height = '50px';
	    else ul.style.height = window.innerHeight + 'px';
	});
</script>

</body>
</html>
